.textbox{
    background-color: #E9EEFF;
}

.Number{
    color: #26A86F;
    font-size: 70px;
}
.check1{
    color: #26A86F;
    font-size: 40px;
}
.form-text{
    width: 100%;
    height: 40vh;
    margin: 5% 0;
}
.btn-lg{
    width: 75%;
    height: 7vh;
}